* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid limegreen !important; */
  /* background: rgb(0 100 0 / 0.05) !important; */
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #1F3145;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}

.header {
  color: sienna;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
}

.parties {
  color: #a2a86a;
  margin-bottom: 20px;
  font-size: 1.5em;
}

#playerScore,
#computerScore,
#drawScore {
  color: sienna;
  font-size: 1.57em;
}

.message {
  color: #a2a86a;
  margin-bottom: 20px;
}

.playfield {
  color: #a2a86a;
  text-align: center;
  border-width: 0 0 1px 0;
  margin-bottom: 20px;
}

.button {
  border-radius: 20px;
  box-shadow: 2px 5px 20px black;
  transition-duration: 0.5s;
}

.button:hover {
  transform: scale(1.03);
}

.buttons {
  display: flex;
  gap: 50px;
}

#newGame {
  width: 200px;
  height: 40px;
  background-color: #a2a86a;
  color: #20170e;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 20px;
  border-style: none;
  box-shadow: 2px 5px 20px black;
  transition-duration: 0.5s;
  margin-bottom: 20px;
}

#newGame:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.footer {
  color: #a2a86a;
}