* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid limegreen !important; */
  /* background: rgb(0 100 0 / 0.05) !important; */
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #0D2636;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}

.header {
  /* outline: 1px solid limegreen !important; */
  color: sienna;
  margin-bottom: 20px;
}

.parties {
  /* outline: 1px solid limegreen !important; */
  color: sienna;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.container {
  /* outline: 1px solid limegreen !important; */
  color: sienna;
  margin-bottom: 20px;
}

.playfield {
  /* outline: 1px solid limegreen !important; */
  color: sienna;
  text-align: center;
  border-width: 0 0 1px 0;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 50px;
}

#newGame {
  width: 300px;
  height: 50px;
  background-color: sienna;
  color: darkgray;
  font-weight: bold;
  font-size: 1.5em;
}